<!--::header part start::-->
<header class="main_menu home_menu">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" routerLink="/">
            <img src="assets/img/logo.png" alt="logo" height="70">						</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                       <span class="navbar-toggler-icon"></span>                        </button>
          <div class="collapse navbar-collapse main-menu-item justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav align-items-center">
              <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/benefits">Benefits</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/features">Features</a></li>
              <li class="d-none d-lg-block"><a class="btn_1" href="#" data-toggle="modal" data-target="#exampleModal" style="font-size: 16px;">Log in / Sign up</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
      <!-- Header part end-->

  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="breadcrumb_iner">
                      <div class="breadcrumb_iner_item">
                          <h2>Benefits</h2>
                          <p>Home<span>/</span>Benefits</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- breadcrumb start-->

<section class="feature_part single_feature_part">
  <div class="container">
    <div id="future-slider" class="carousel slide" data-ride="carousel">
      <div class="row">

        <div class="col-lg-4 col-md-6 mb-0">
          <div class="about-content-left left-section-futur">
            <div class="single-feature mb-4" data-target="#future-slider" data-slide-to="0">
              <div class="icon-box-wrap d-flex flex-md-row-reverse align-items-center">
                <div class="ml-auto icon-box">
                  <span class="box-icon1"></span>
                </div>
                <p class="mb-0 ml-auto"><b class="text-dark">Boost your revenue</b><br>Be a part of 300000 medical practitioners.  Get referred and fill up all your empty slots. Be more discoverable on real time bases. Get ad hoc appointments on a real time bases. Be smart. Be on DocsTime.</p>
              </div>
            </div>

            <div class="single-feature mb-4" data-target="#future-slider" data-slide-to="1">
              <div class="icon-box-wrap d-flex flex-md-row-reverse align-items-center">
                <div class="ml-auto icon-box ">
                  <span class="box-icon2"></span>
                </div>
                 <p class="mb-0"><b class="text-dark">No contractual obligation</b><br> Download DocsTime and start filling up your slots now. There are no contractual obligations. DocsTime offers unlimited services free.  All you need to do is a free signup. Sounds amazing. Isn’t it? So then let us get started.</p>
              </div>
              <p></p>
            </div>

            <div class="single-feature mb-4" data-target="#future-slider" data-slide-to="2">
              <div class="icon-box-wrap d-flex flex-md-row-reverse align-items-center">
                <div class="ml-auto icon-box">
                  <span class="box-icon3"></span>
                </div>
                 <p class="mb-0"><b class="text-dark">Instant referral</b><br> Troubled with fax and phone tagging? Not anymore. Download the most simple referral application on the planet. Be where all doctors are. Download DocsTime now.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block">
          <div class="about-content-right">
            <img src="assets/img/top_service.png" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="about-content-left right-section-futur">
            <div class="single-feature mb-4" data-target="#future-slider" data-slide-to="3">
              <div class="icon-box-wrap d-flex align-items-center">
                <div class="icon-box">
                  <span class="box-icon4"></span>
                </div>
                <p class="mb-0"><b class="text-dark">Access EMR/EHR</b><br>DocsTime offers seamless integration with all the EMR and EHR platforms. Now access any health record in just a moment. Browse through patient medical records with artificial intelligence reporting system. Make smarter decisions with better diagnosis. </p>
              </div>
            </div>

            <div class="single-feature mb-4" data-target="#future-slider" data-slide-to="4">
              <div class="icon-box-wrap d-flex align-items-center">
                <div class="icon-box">
                  <span class="box-icon5"></span>
                </div>
                <p class="mb-0"><b class="text-dark">Boutique Services</b><br> Let DocsTime do the insurance compatibility on real time bases. Focus on what really matter – “Patient care.” Leave the rest on DocsTime. Be smart and let the application manage what insurance you accept. Sounds interesting. Isn’t it? Download now.</p>
              </div>
              <p></p>
            </div>

            <div class="single-feature mb-4" data-target="#future-slider" data-slide-to="5">
              <div class="icon-box-wrap d-flex align-items-center">
                <div class="icon-box">
                  <span class="box-icon6"></span>
                </div>
                <p class="mb-0"><b class="text-dark">Manage your calendars smartly</b><br> Get appointments on real time bases in cancelled and no-show slots. Also, get back the referred patient when they need your help. Download DocsTime now and enhance your productivity. </p>
              </div>
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <div class="about-content-left right-section-futur">
        <div class="single-feature mb-4 " data-target="#future-slider" data-slide-to="3">
          <div class="icon-box-wrap d-flex align-items-center">
            <div class="icon-box">
              <span class="box-icon4"></span>
            </div>
            <p class="mb-0"><b class="text-dark">Become a digital authority</b><br>Yes. You heard it right. With DocsTime you get ratings and reviews from your real patients. Get noticed in the entire medical fraternity with those amazing patient feedbacks. Let your credentials talk for you. </p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>


<!--Login Modal-->
<div class="modal fade modal-login" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="nav md-pills nav-justified pills-info">
          <li class="nav-item">
            <a class="nav-link border-bottom active" data-toggle="tab" href="#navbarLogin-login" role="tab" aria-selected="true">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link border-bottom show" data-toggle="tab" href="#navbarLogin-signup" role="tab" aria-selected="false">Register</a>
          </li>
        </ul>

        <div class="tab-content py-0">
          <div class="tab-pane fade active show" id="navbarLogin-login" role="tabpanel">
            <form id="login" class="text-center" action="login" method="post" novalidate="novalidate">
              <input type="hidden" id="security" name="security" value="c55502f913" /><input type="hidden" name="_wp_http_referer" value="/wp-admin/admin-ajax.php?p=45930" />
              <br>

              <div class="my-3">
                <div class="wp-social-login-widget pb-3">
                  <div class="wp-social-login-connect-with">Connect with:</div>
                  <div class="wp-social-login-provider-list d-flex justify-content-center">
                    <a href="#" class="facebook-login"><i class="ti-facebook"></i> Facebook</a>
                    <a href="#" class="google-login"><i class="ti-google"></i> Google</a>
                  </div>
                  <div class="wp-social-login-widget-clearing"></div>
                </div>
              </div>

              <label for="username" style="float: left; font-size: 14px;">Username or e-mail</label>
              <input type="text" id="username" class="form-control" name="username" />
              <br />

              <label for="password" style="float: left; font-size: 14px;">Password</label>
              <input type="password" id="password" class="form-control" name="password" autocomplete="off" />

              <div class="input-group pt-3 pb-3">
                <div class="custom-checkbox custom-control col-6 text-left">
                  <input type="checkbox" name="remember" id="remember" class="custom-control-input" />
                  <label for="remember" class="custom-control-label">Remeber Me</label>
                </div>
                <label for="forgot-password" class="col-6">
                  <a href="forgot.html" class="ml-6">Forgot Password?</a>
                </label>
              </div>
              <div class="p-3">
                <button type="button" class="btn btn-primary btn-lg btn-block">Log In</button>
              </div>
            </form>
          </div>

          <div class="tab-pane fade in" id="navbarLogin-signup" role="tabpanel">
            <form id="register" class="text-center" action="register" method="post" novalidate="novalidate">
              <input type="hidden" id="signonsecurity" name="signonsecurity" value="5d290bdd97" /><input type="hidden" name="_wp_http_referer" value="" />
              <br>
              <div class="my-3">
                <div class="wp-social-login-widget">
                  <div class="wp-social-login-connect-with">Connect with:</div>
                  <div class="wp-social-login-provider-list d-flex justify-content-center">
                    <a href="#" class="facebook-login"><i class="ti-facebook"></i> Facebook</a>
                    <a href="#" class="google-login"><i class="ti-google"></i> Google</a>
                  </div>
                  <div class="wp-social-login-widget-clearing"></div>
                </div>
              </div>

              <label for="signonname" style="float: left; font-size: 14px;">Your Name</label>
              <input type="text" id="signonname" class="form-control" name="signonname" />

              <br />

              <label for="signonusername" style="float: left; font-size: 14px;">Your username</label>
              <input type="text" id="signonusername" class="form-control" name="signonusername" />

              <br />

              <label for="email" style="float: left; font-size: 14px;">Email Address</label>
              <input type="email" id="email" class="form-control" name="email" />

              <br />
              <label for="signonpassword" style="float: left; font-size: 14px;">Password</label>
              <input type="password" id="signonpassword" class="form-control" name="signonpassword" autocomplete="off" />

              <br />

              <label for="password2" style="float: left; font-size: 14px;">Confirm Password</label>
              <input type="password" id="password2" class="form-control" name="password2" autocomplete="off" />

              <br />

              <div class="form-check pl-0">
                <input type="checkbox" class="form-check-input" id="newsletter" name="newsletter" value="subscribe" />
                <label class="form-check-label small grey-text" for="newsletter">I agree to sign up for DocsTime account notifications and newsletter</label>
              </div>

              <div class="mt-1">
                <p class="small grey-text pb-3">By signing up you agree to data processing by the DocsTime The administrator processes data following the <a target="_blank" href="">Privacy Policy</a>.</p>
                <!--<button class="btn_1" type="submit" value="SIGNUP">Sign up</button>-->
              </div>
              <div class="p-3">
                <button type="button" class="btn btn-primary btn-lg btn-block">Sign up</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <footer class="footer-area">
  <div class="footer">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-xl-5 col-lg-12 single-footer-widget pb-3 pb-xl-0">
          <h4 class="mb-3"><img src="assets/img/logo-footer.png" alt="logo" style="max-height:40px;"></h4>
          <owl-carousel-o [options]="footerOptions">

            <ng-template carouselSlide>

                  <p class="text-white">I work as a consultant. I travel a lot and have a very hectic schedule throughout the week. I often skip my appointments because of prior commitments. This has resulted in many complications in the past. However, with DocsTime I was able to schedule appointments just any time of the day. I could choose my physician as a time I could manage to visit. In fact, DocsTime helps you find doctors in your immediate vicinity. <b class="text-white">– David ******</b></p>

                </ng-template>

                <<ng-template carouselSlide>
                <div class="slide">
                  <p class="text-white">
                 I visited my PCP for abdominal pain. My doctor told me that I need to see Gastroenterologist. Earlier I used  to call multiple offices to schedule an appointment that suites my time. First thing it was difficult to reach them on the phone right away second thing even if I am able to catch hold of them I am unable to schedule the time I need. With DocsTime app I was able to get an appointment with the best specialists around with in minuites. Thanks for the features provided. <b class="text-white">"Ellen"</b>
                </p>
                </div>

              </ng-template>

          </owl-carousel-o>
        </div>
        <div class="col-xl-2 col-6 col-sm-4 col-md-4 single-footer-widget">
          <h4>Quick Links</h4>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/aboutUs">About Us</a></li>
            <li><a routerLink="/faq">FAQ</a></li>
          </ul>
        </div>

        <div class="col-xl-2 col-6 col-sm-4 col-md-4 single-footer-widget order-md-3 order-4">
          <h4>Are you a Doctor?</h4>
          <ul>
            <li><a routerLink="/joinDocsTime">Join DocsTime</a></li>
          </ul>
        </div>
        <div class="col-xl-3 col-6 col-sm-4 col-md-4 single-footer-widget order-md-4 order-3">
          <h4>Need Help?</h4>
          <ul>
            <li><a routerLink="/contactUs">Contact Us</a></li>
            <li><a routerLink="/termsConditions">Terms & Condition</a></li>
            <li><a routerLink="/privacyPolicy">Privacy Policy</a></li>
            <li><a routerLink="/doctorsPrivacyPolicy">Doctors Privacy Policy</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="copyright_part">
    <div class="container">
      <div class="row align-items-center">
        <p class="footer-text m-0 col-lg-10 col-md-12 text-center">&copy; 2020 DocsTime. All Rights Reserved.</p>
        <div class="col-lg-2 col-md-12 text-center text-lg-right footer-social">
<a href="#"><i class="ti-facebook"></i></a>
          <a href="#"> <i class="ti-twitter-alt"></i>
          </a>
<a href="#"><i class="ti-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>



