a.category-items {
    padding: 0 15px;
    display: block;
    text-align: -webkit-center;
}

 .category-items h4 {
    color: #242424;
    font-size: 18px;
    font-weight: normal;
    padding-top: 10px;
}

/* .owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
}

.owl-carousel .owl-stage{
  position: relative;
  touch-action: manipulation;
} */

 .owl-theme .owl-nav {
  text-align: left !important;
  -webkit-tap-highlight-color: transparent;
}
